rules_version = '2';

// Craft rules based on requests
service firebase.storage {
  match /b/{bucket}/o {
    // Main storage rules
    match /{allPaths=**} {
      // Default allow read for public assets
      allow read: if true;
      
      // Only allow write when authenticated
      allow write: if request.auth != null;
    }
    
    // Rules specific to post images
    match /posts/{userId}/{imageId} {
      // Allow users to read any post image
      allow read: if true;
      
      // Allow users to upload their own post images
      allow create, update: if request.auth != null && request.auth.uid == userId;
      
      // Allow users to delete their own post images
      allow delete: if request.auth != null && request.auth.uid == userId;
    }
    

  }
} 